{% extends 'layouts.html'%}

{%block contentA%}
<div class="contentA">
    <div class="card text-center">
        <div class="card-body">
            <br>
            <h1 class="card-title">Métodos numéricos 2021-I</h1>
            <br>
            <p class="card-text">Nicolás Darío Mejía Borda </p>
            <p class="card-text">Juan Sebastián Rodríguez Castellanos </p>
            <br>
        </div>
    </div>
</div>
<script src="{{url_for('static',filename='main.js')}}"></script>

{%endblock contentA%}